<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>mymodule3</name>
	<displayName><![CDATA[Mi nuevo modulo 3]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Gran modulo para prestashop]]></description>
	<author><![CDATA[Urza]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
